@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    height: 100px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-list {
        margin: 20px;
        li {
            list-style: none;
            display: inline-block;
            margin: 20px;
            a {
                text-decoration: none;
            }
        }
    }
    .logo {
        margin: 35px 0 0 35px;
        font-size: 20px;
    }
}

.nav-footer {
    background-color: lightsalmon;
    height: 150px;
    .nav-list-footer {
        float: right;
        margin: 20px;
        text-align: right;
        li {
            list-style: none;
            margin: 20px;

            a {
                text-decoration: none;
            }
        }
    }
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    .card {
        width: calc(100% / 2 - 20px);
        background-color: ivory;
        margin: 10px;
        padding: 10px;
        img , .text {
            float: left;
        }
        .info {
            @include clearfix();
            padding-top: 15px;
        }
        img {
            width: 20%;
            margin-right: 15px;
        }
    }
}